---
export const prerender = true; 
import BaseLayout from '../../layouts/BaseLayout.astro';
import ContentWrapper from '../../layouts/ContentWrapper.astro';
import BlogPreview from '../../components/blogComponents/previewLink.astro'; 
import { RetrieveImageFromGlob } from "../../hooks/imageHooks";
import SmallBanner from '../../components/small_banner/index.astro'; 

export async function getStaticPaths() {
    const allPosts = await Astro.glob("../posts/*.md"); 
    const uniqueAuthors = [...new Set(allPosts.map(post => post.frontmatter.author))]
    return uniqueAuthors.map(author => {
        const filteredPosts = allPosts.filter(post => post.frontmatter.author === author)
        return {
            params: {author}, 
            props: {
                posts: filteredPosts,
            }
        }
    })
}
const {author} = Astro.params; 
const {posts} = Astro.props; 
const pageTitle = `Blog posts by ${author}`;
const imageFiles = import.meta.glob("../../assets/uploads/*"); 
---
<BaseLayout
    pageTitle = {pageTitle}
>
    <SmallBanner />
    <ContentWrapper>
        <div
            id="wrapper"
            class="mb-[150px]"
        >
            <h1
                class = "text-3xl font-bold text-center mt-10"
            >{pageTitle}</h1>
            {
                posts ? 
                <div class = "grid sm:grid-cols-2 md:grid-cols-3 sm:gap-5">
                    {posts.map(async (post: any) =>{
                    //retrieve thumbnail of the posts
                    if(post.frontmatter.images && post.frontmatter.images.length >0 ){
                        const thumbnail = await RetrieveImageFromGlob(post.frontmatter.images[0].url, imageFiles); 
                        return <BlogPreview {...post.frontmatter} url = {post.url} thumbnail = {thumbnail} />
                    }
                    return <BlogPreview {...post.frontmatter} url = {post.url}/>
                    })}
                </div>
                : 
                <p>This author hasn't published any posts yet.</p>
            }
        </div>
    </ContentWrapper>
</BaseLayout>