
---
import "./choose-style.css"
import SellingPoints from './selling-ponts.astro'; 
import SiteData from '@/customization/siteData.json'; 
import Shape5 from "@/assets/images/shape/shape-5.png";
import Shape6 from "@/assets/images/shape/shape-6.png";
import Shape7 from "@/assets/images/shape/shape-7.png";
import GardenWorker from "@/assets/images/resource/garden-worker.jpg"
---
<!-- chooseus-section -->
<section class="chooseus-section relative block">
    <div class="pattern-layer" id = "chooseus_grass" style=`background-image: url(${Shape7.src});`></div>
    <div
        id="Chooseus_mainContainer" 
        class="auto-container"
        >
        <div class="inner-container relative block bg-white rounded-md box_shadow mb-5">
            <div class="shape-layer">
                <div class="shape-1 absolute" style=`background-image: url(${Shape5.src});`></div>
                <div class="shape-2 absolute" style=`background-image: url(${Shape6.src});`></div>
            </div>
            <div class="grid sm:grid-cols-[40%_60%]">
                <div class="image-column">
                    <figure class="image-box relative block img_hover_3">
                        <img src={GardenWorker.src} loading = "lazy" decoding="async" alt="">
                    </figure>
                </div>
                <div class="content-column">
                    <div class="content_block_2">
                        <div class="content-box relative block pt-[40px] pl-[40px] pr-[70px] pb-[30px]">
                            <div class="sec-title mb-10">
                                <span class="sub-title">When People Want a Peace of Mind</span>
                                <h2>They Choose Us.</h2>
                            </div>
                            <div class="text relative block mb-35">
                                <p>Discover tranquility in the beauty of nature. At {SiteData.business_name}, we understand the significance of peace of mind. Our expert team specializes in crafting landscapes that not only captivate the senses but also create a sanctuary of serenity. When the world feels overwhelming, our harmonious designs bring solace. Choose {SiteData.business_name} for landscapes that inspire calm and elevate your spirits.</p>
                            </div>
                            <div class="relative block bg-transparent pt-10">
                                <SellingPoints />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>