---
import TagList  from './tagList.astro'
const {
    title,
    author, 
    description,
    images,
    pubDate,
    tags, 
    url
} = Astro.props; 
let datePublished : Date | null = pubDate ? new Date(pubDate)  : null; 
const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
---
<div
    class = "rounded-lg box_shadow m-5" 
>
    <div
        id="preview_wrapper"
        class = "w-11/12 mx-auto py-10"
    >
    {title && 
        <a 
            href={url} 
            class = "cursor-pointer text-center text-2xl"
            ><h2 class = "font-bold">{title}</h2></a>
    }
    {images && images.length > 0 &&
        <div
        class = "object-fit cursor-pointer"
        >
            <a 
                href={url}
            >
                <img 
                    src = {images[0].image[0].url}
                    alt ={images[0].image[1].alt}
                />
            </a>
        </div>
    }
    <p>
    {author &&
        <span
        class = "font-bold"
        >Published by <b>{author}</b></span>
    } 
    {datePublished &&
        <span> | {datePublished.toLocaleDateString()}</span>
    }
    </p>
    {description &&
        <p><b>Description: </b>{description}</p>

    }
    {tags && tags.length > 0 &&
        <TagList tags = {tags} />
    }
</div>
</div>