---
import TagList  from './tagList.astro'
import { Image } from "astro:assets";
const {
    title,
    author, 
    description,
    featured_image,
    images,
    pubDate,
    tags, 
    url
} = Astro.props; 
import DescriptionComponent from './description.tsx'; 
let datePublished : Date | null = pubDate ? new Date(pubDate)  : null; 
const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
import "./style.css"; 
---
<div
    class = "rounded-lg post-box-shadow bg-white blog-preview-panel mb-[20px]"
    id="blog-preview-panel"
>
    {featured_image &&
        <div
        class = "overflow-hidden cursor-pointer h-[250px] w-auto rounded-[5px_5px_0px_0px]"
        >
            <a 
                href={url}
            >
                <img
                    src = {featured_image}
                    alt = {`${title} featured image`}
                    class = "w-full h-full object-cover"
                />
            </a>
        </div>
        
    }
    <div
        id="preview_wrapper"
        class = "w-9/12 mx-auto py-10"
    >
    {datePublished &&
        <div
            class="text-[#7a7b80]"
        >{datePublished.toLocaleDateString()}</div>
    }
    {title && 
        <a 
            href={url} 
            class = "cursor-pointer text-2xl"
            ><h2 class = "font-bold">{title}</h2></a>
    }
    <p>
    {author &&
        <span
        class = "font-bold"
        >Published by <b>{author}</b></span>
    } 
    </p>
    {description &&
        <DescriptionComponent {description} client:visible />
    }
    {tags && tags.length > 0 &&
        <TagList tags = {tags} />
    }   
    </div>
</div>