---
export const prerender = true; 
import BaseLayout from '../../layouts/BaseLayout.astro';
import ContentWrapper from '@/layouts/ContentWrapper.astro';
import RenderPagination from '../../components/paginatedBlog/renderTagPagination.tsx';
import { 
    createStaticPathArray,
    createStaticPathArrayForTags, 
 } from "../../hooks/blogHooks"; 
 import BlogPreview from '../../components/blogComponents/previewLink.astro';
import { RetrieveImageFromGlob } from "../../hooks/imageHooks";
import type { PostType } from '../../util/interface';
import { createRelativeSchema } from 'astro/dist/core/config/schema';

export async function getStaticPaths() {
    const PAGE_SIZE : number = 6;
    var allPosts : Array<PostType> = []
    try{
        allPosts = await Astro.glob("../posts/*.md") ;
       // 
    } catch (error){
        allPosts = []; 
    }
    var staticArray = createStaticPathArrayForTags({allPosts, PAGE_SIZE})
    return staticArray;
}

const { 
    tag
 } = Astro.params; 
const { 
    totalPages,
    filteredPosts, 
 } = Astro.props; 

---
<BaseLayout pageTitle={tag}>
    <ContentWrapper>
        <h1
            class = "text-2xl font-bold text-center mt-10"
        >Posts tagged with {tag}</h1>
        {filteredPosts && filteredPosts.length > 0 ? 
            <div class = "grid sm:grid-cols-2 md:grid-cols-3 gap-5 mt-10">
                {filteredPosts.map((post : PostType) => {
                    if(post.frontmatter.featured_image){
                        return <BlogPreview {...post.frontmatter} url = {post.url} thumbnail = {post.frontmatter.featured_image} />
                    }
                    return <BlogPreview {...post.frontmatter} url = {post.url}/>
                })}
            </div>
            :
            <div></div>
        }
    </ContentWrapper>
</BaseLayout>