---
import SiteData from "@/customization/siteData.json"; 
import SocialLinks from "../social-links.astro"; 
import Shape16 from '@/assets/images/shape/shape-16.png';
---    
<!-- header-top -->
<div class="header-top relative w-full py-0 sm:pt-[14px] sm:pb-[30px] bg-[#1d4a34]">
    <div class="shape" style = `background-image: url(${Shape16.src})`></div>
    <div class="auto-container">
        <div class="top-inner clearfix">
            <div class="left-column pull-left">
                <SocialLinks 
                    followUsText = {true}
                    customStyle = "grid sm:flex sm:flex-row text-center w-full justify-center sm:w-fit "
                    />
            </div>
            {(SiteData.business_phone || SiteData.business_email) && 
            <div class="right-column pull-right">
                <ul class="grid sm:flex sm:flex-row sm:gap-[10px] sm:w-fit sm:mx-auto">
                    {SiteData.business_phone && 
                    <li
                        class="!mx-auto w-fit flex flex-row gap-[5px]"
                    >
                        <div class="icon-box flex justify-center [&>*]:m-auto"><i class="fas fa-phone text-white"></i></div>
                        <p>Call: <a href={`tel:${SiteData.business_phone}`} class ="xm_414:font-bold">{SiteData.business_phone}</a></p>
                    </li>
                    }
                    {SiteData.business_phone && SiteData.business_email &&
                    <li
                        class="sm:block sm:mx-5 hidden"
                    >|</li>                    
                    }
                    {SiteData.business_email && 
                    <li
                        class="!mx-auto w-fit flex flex-row gap-[5px]"
                    >
                        <div class="icon-box flex justify-center [&>*]:m-auto"><i class="fas fa-envelope text-white"></i></div>
                        <p>Email: <a href={`mailto:${SiteData.business_email}`}>{SiteData.business_email}</a></p>
                    </li>                    
                    }
                </ul>
            </div>
            }

        </div>
    </div>
</div>