---
import Header from "@/components/HeaderComponent/header.astro";
import Footer from "@/components/footer/index.astro";
import "@/styles/global.css";
const { 
    pageTitle, 
    customDescription, 
    frontmatter, 
    CTA_Banner
 } = Astro.props;
import ScrollTopButton from "@/components/scrollTopButton.astro";
import SEO from "@/components/SEO.astro";
import MessageComponent from "@/components/MessageComponent/messageComponent";
import FooterColumns from "@/demo/footer.json"
import ServiceDemo from '@/customization/services.json'; 
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <link href="./assets/css/font-awesome-all.css" rel="stylesheet">
        <link href="./assets/css/animate.css" rel="stylesheet">
        <link href="./assets/css/flaticon.css" rel="stylesheet">
        <link href="./assets/css/color.css" rel="stylesheet">
        <link href="./assets/css/style.css" rel="stylesheet">
        <link href="./assets/css/responsive.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <SEO 
            title = {pageTitle}
            {frontmatter}
            description ={customDescription ? customDescription : "This is a blogging site."}
        />
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <title>{pageTitle}</title>
    </head>
    <body>
        <Header 
            serviceList = {ServiceDemo.data}
        />
        <MessageComponent client:load />
        <div
        id="backdrop"
        class="fixed left-0 top-0 w-full h-full z-[99] bg-[#2f7955] backdrop"
        ></div>
        <div 
        id="SlotWrapper"
        class="mt-[165px] min-h-[100vh] sm:min-h-[95vh] mb-[10px] flex flex-col flex-grow overflow-x-hidden"
        >
            <slot />
        </div>
        <Footer 
            columns={FooterColumns}
            {CTA_Banner}
        />
        <ScrollTopButton />
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                    }
                });
            }
        </script>
    </body>
</html>
