---
import BaseLayout from "./BaseLayout.astro";
import TagList from "../components/taglist/taglist.astro";
import RecentPosts from '@/components/blogComponents/recent_post/index.astro'; 
import AnimatedGrass from "@/components/animated_grass/index.astro"; 
import type { PostType } from "@/util/interface.tsx"; 
import SearchComponent from '@/components/search/index.astro';
const { frontmatter } = Astro.props;
const tags = frontmatter.tags; 

var allPosts : Array<PostType> = []; 
try {
    allPosts = await Astro.glob("../pages/posts/*.md"); 
} catch(error){
    console.log("error: ", error)
}
var selectedPosts : Array<PostType> = []
if(allPosts && allPosts.length > 0){
    selectedPosts = allPosts.sort((a, b)=> {
            var a_date : Date = new Date(a.frontmatter.pubDate)
            var b_date : Date = new Date(b.frontmatter.pubDate)
            return b_date.getTime() - a_date.getTime();
            }).slice(0,3)
}

const formattedDate = new Date(frontmatter.pubDate)

---

<BaseLayout pateTitle={frontmatter.title} {frontmatter}>
    <div
        class="relative h-[250px] w-full bg-[url('../../src/assets/images/banner/japanese-garden.jpg')] bg-center before:absolute before:content-[''] before:bg-[rgba(0,0,0,0.4)] before:w-full before:h-full before:z-10"
    >
        <AnimatedGrass /> 
    </div>
    <div 
        class = "flex flex-col sm:flex-row sm:gap-10 mt-5 w-11/12 mx-auto"
    > 
        <div>
            {frontmatter.featured_image && 
                <div
                    class ="max-h-[500px] w-full overflow-hidden justify-center mb-10"
                >
                    <img src ={frontmatter.featured_image} class = "w-full h-full object-cover" />
                </div>
            }
            {frontmatter.pubDate && 
                <p
                    class = "relative block text-[15px] mb-[2px] text-slate-400"
                >{formattedDate.toLocaleDateString()}</p>
            }
            <h1 class="text-2xl font-bold">{frontmatter.title}</h1>
            <p>Written by <a 
                href ={`/authors/${frontmatter.author}`}
                class = "hover:underline cursor-pointer"
                ><b>{frontmatter.author}</b></a></p>
            <hr class="border-2 bg-black w-full my-5" />
            <slot />
            {tags && tags.length > 0 &&
            <div class = "mt-10">
                <h3
                    class ="font-bold text-base"
                >Tags: </h3>
                <TagList tags = {tags} />
            </div>
            }
        </div>
        <div class = "flex flex-col min-w-[33.33%]">
            <SearchComponent 
                {allPosts}
            />
            <RecentPosts 
                posts = {selectedPosts}
             />
        </div>
    </div>  
</BaseLayout>
