---
import BaseLayout from "./BaseLayout.astro";
import TagList from "../components/taglist/taglist.astro";
const { frontmatter } = Astro.props;
const tags = frontmatter.tags; 
---

<BaseLayout pateTitle={frontmatter.title} {frontmatter}>
    <div 
        class = "flex flex-col sm:flex-row sm:gap-[5em] mt-5"
    >
        <div>
            <h1 class="text-2xl font-bold">{frontmatter.title}</h1>
            <p>Written by <a 
                href ={`/authors/${frontmatter.author}`}
                class = "hover:underline cursor-pointer"
                ><b>{frontmatter.author}</b></a></p>
            <hr class="border-2 bg-black w-full mb-5" />
            <slot />
        </div>
            {tags && tags.length > 0 &&
                <TagList tags = {tags} />
            }
        <div>
        </div>
    </div>  
</BaseLayout>
