---
import BaseLayout from "./BaseLayout.astro";
import TagList from "../components/taglist/taglist.astro";
import RecentPosts from '@/components/blogComponents/recent_post/index.astro'; 
import type { 
    PostType,
    PostAssetType
 } from "@/util/interface.tsx"; 
import SearchComponent from '@/components/search/index.astro';
import Banner from '@/components/small_banner/index.astro'
const { frontmatter } = Astro.props;
const tags = frontmatter.tags; 
var assets : Array<PostAssetType> = []; 
try{
    assets = await Astro.glob("../assets/uploads/*")
    } catch(e){
}
console.log("fontmatter.featured_image: ", frontmatter.featured_image)
console.log("assets: ", assets)
var FeaturedImage = null; 

if(assets){
    if(frontmatter.featured_image){
        var pathArray = frontmatter.featured_image.split("/")
        var fileName = pathArray[pathArray.length - 1]
        console.log("fileName: ", fileName)
        FeaturedImage = assets.find((asset: PostAssetType) =>{
            if(!asset || !asset.default.src)
                return false 
            if(asset.default.src.includes(fileName))
                return asset.default.src
            return false 
        }) 
    }

}
console.log('featured image: ', FeaturedImage)
var allPosts : Array<PostType> = []; 
try {
    allPosts = await Astro.glob("../pages/posts/*.md"); 
} catch(error){
    console.log("error: ", error)
}
var selectedPosts : Array<PostType> = []
if(allPosts && allPosts.length > 0){
    selectedPosts = allPosts.sort((a, b)=> {
            var a_date : Date = new Date(a.frontmatter.pubDate)
            var b_date : Date = new Date(b.frontmatter.pubDate)
            return b_date.getTime() - a_date.getTime();
            }).slice(0,3)
}

const formattedDate = new Date(frontmatter.pubDate)
---
<BaseLayout pateTitle={frontmatter.title} {frontmatter}>
    <Banner 
    />
    <div 
        class = "flex flex-col lg:flex-row sm:gap-10 mt-5 w-11/12 mx-auto"
    > 
        <div
            class = ""
        >
            {FeaturedImage &&
                <div
                    id="FeaturedImage"
                    class ="max-h-[500px] w-full overflow-hidden justify-center mb-10"
                >
                    <img src ={FeaturedImage.default.src} class = "w-full h-full object-cover" />
                </div>
                
            }
            {assets && <div>{assets}</div>}
            {FeaturedImage && <div>{FeaturedImage.default.src}</div>}
            {frontmatter.featured_image && <div>{frontmatter.featured_image}</div>}
            
            {frontmatter.pubDate && 
                <p
                    class = "relative block text-[15px] mb-[2px] text-slate-400"
                >{formattedDate.toLocaleDateString()}</p>
            }
            <h1 class="text-2xl font-bold">{frontmatter.title}</h1>
            <p>Written by <a 
                href ={`/authors/${frontmatter.author}`}
                class = "hover:underline cursor-pointer"
                ><b>{frontmatter.author}</b></a></p>
            <hr class="border-2 bg-black w-full my-5" />
            <slot />
            {tags && tags.length > 0 &&
            <div class = "mt-10">
                <h3
                    class ="font-bold text-base"
                >Tags: </h3>
                <TagList tags = {tags} />
            </div>
            }
        </div>
        <div class = "flex flex-col min-w-[33.33%]">
            <SearchComponent 
                {allPosts}
            />
            <RecentPosts 
                posts = {selectedPosts}
             />
        </div>
    </div>  
</BaseLayout>
<script define:vars={{image: frontmatter.featured_image}}>
console.log("frontmatter.feature_image: ", image)
</script>